Source: r-other-reaktanz-tm.plugin.korpus
Section: gnu-r
Priority: optional
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends-Indep: debhelper (>> 9.0.0), r-base-dev (>= 3.5.0), cdbs, r-cran-korpus (>=
 0.13-1) | r-other-reaktanz-korpus (>= 0.13-1), r-cran-sylly (>= 0.1-6) |
 r-other-reaktanz-sylly (>= 0.1-6), r-cran-tm, r-cran-nlp
Standards-Version: 3.9.3.1
Homepage: https://reaktanz.de/?c=hacking&s=koRpus

Package: r-other-reaktanz-tm.plugin.korpus
Architecture: all
Section: gnu-r
Depends: r-base-core (>= 4.0.0), r-api-4.0, r-cran-korpus (>= 0.13-1) |
 r-other-reaktanz-korpus (>= 0.13-1), r-cran-sylly (>= 0.1-6) | r-other-reaktanz-sylly
 (>= 0.1-6), r-cran-tm, r-cran-nlp
Description: GNU R package "Full Corpus Support for the 'koRpus' Package"
 .
 Enhances 'koRpus' text object classes and methods to also support large corpora.
 Hierarchical ordering of corpus texts into arbitrary categories will be preserved.
 Provided classes and methods also improve the ability of using the 'koRpus' package
 together with the 'tm' package. To ask for help, report bugs, suggest feature
 improvements, or discuss the global development of the package, please subscribe to the
 koRpus-dev mailing list (<https://korpusml.reaktanz.de>).
Homepage: https://reaktanz.de/?c=hacking&s=koRpus
Suggests: r-cran-korpus.lang.en, r-cran-testthat, r-cran-knitr, r-cran-rmarkdown
