#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file for the Debian/GNU Linux r-other-reaktanz-tm.plugin.korpus package
# Copyright 2019 by m.eik michalke <meik.michalke@hhu.de>

debRreposname := other-reaktanz

include /usr/share/R/debian/r-cran.mk
